{% extends "base/base.html" %}

	{% load static %}
{% block title %}
    Confirmation Mot de passe
{% endblock title %}

{% block body %}

<div class="login-clean">
        <form method="post">{% csrf_token %}
            <div class="illustration"><img src="{% static 'images/favicon-02.png' %}" style="width: 120px;"></div>
            <div class="form-group">{{form.new_password1}}</div>
            <div class="form-group">{{form.new_password2}}</div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Se Connceter</button><!-- <a class="btn btn-primary btn-block" role="button" href="password-reset-complete.html">Modifier mon mot de pass</a> --></div>
        </form>
    </div>
    
{% endblock body %}