{% extends "base/base.html" %}
{% load static %}

{% block title %}
   Mot de passe oublié
{% endblock title %}





{% block body %}


    <div class="login-clean">
        <form method="post">{% csrf_token %}
            <div class="illustration"><img src="{% static 'images/favicon-02.png' %}" style="width: 120px;"></div>
            <div class="form-group">
                <p style="color: #000;text-align: center;font-size: 23px;font-family: 'ABeeZee';"><strong>Mot de passe oublié?</strong><br></p>
                <p style="color: #000;text-align: center;font-family: 'ABeeZee';">Vous pouvez réinitialiser votre mot de passe ici.<br></p>
                {{form.email}}<!-- <input class="form-control" type="email" name="email" placeholder="Email"> --></div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Réinitialiser</button>
                <!-- <a class="btn btn-primary btn-block" role="button" href="{% url 'password_reset_done' %}">Réinitialiser&nbsp;<br></a> --></div>
        </form>
    </div>
    
{% endblock body %}
    