<!DOCTYPE html>
<html>
<head>


	<title>{% block title %}
	    
	{% endblock title %}</title>

	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css' type='text/css' />


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js'></script>
  <style>
    body { margin:0; padding:0; }
    #map { height: 500px; width:50%;  }
    .coordinates {
background: rgba(0,0,0,0.5);
color: #fff;
position: absolute;
bottom: 40px;
left: 10px;
padding:5px 10px;
margin: 0;
font-size: 11px;
line-height: 18px;
border-radius: 3px;
display: none;
}


.mar {
    position: absolute;
    left: 0px;
    top: 0px;
    user-select: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    max-width: none;
    width: 40px;
    height: 55px;
}
  </style>
</head>
<body>

{% block navbar %}
    
{% endblock navbar %}

{% block side_bar %}
    
{% endblock side_bar %}

{% block map %}
    
{% endblock map %}

{% block body %}
    
{% endblock body %}
</body>
</html>