
<!-- 
<nav>
	<ul><a href="{% url 'home' %}">Acceuil</a></ul>
	<ul><a href="{% url 'services' %}">Service</a></ul>

	
	<ul><a href="#">Contactez-nous</a></ul>


	{% if user.is_authenticated %}
		<ul><a href="{% url 'profile' %}">Profile</a></ul>
		<ul><a href="{% url 'logout' %}">Logout</a></ul>

		{% else %}
		<ul><a href="{% url 'login' %}">Login</a></ul>
		<ul><a href="{% url 'signup' %}">S'inscrire</a></ul>
	{%endif%}
</nav> -->
{% load static %}
 <nav class="navbar navbar-light navbar-expand-md" style="z-index: 1;/*position: fixed;*/width: 100%;background-color: rgba(255,255,255,0.81);box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);">
        <div class="container-fluid"><a class="navbar-brand" href="index.html"><img src="{% static 'images/logo-02.png' %}" style="width: 110px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="border: none;"><span class="sr-only">Toggle navigation</span><i class="fa fa-bars" style="color: #000;"></i></button>
            <div class="collapse navbar-collapse justify-content-center" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" id="link1" href="{% url 'home' %}" data-a="a1">Acceuil</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link white-menu-link" id="link2" href="{% url 'services' %}" data-a="a2">Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link white-menu-linkactive" id="link3" href="#" data-a="a3">Categories</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" id="link4" data-a="a4" href="#">Devenir prestatire</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link white-menu-link" id="link5" href="#" data-a="a5">Contacter Nous</a>
                    	{% if user.is_authenticated %}
                    	<a class="nav-link log-in-link active" id="link5" href="{% url 'logout' %}" data-a="a5">Déconnecter</a>
						{% else %}
                    	<a class="nav-link log-in-link active" id="link5" href="{% url 'login' %}" data-a="a5">Se connecter</a>
						{%endif%}
                    	
                	</li>
                </ul>
        </div>
        				{% if user.is_authenticated %}
					        <ul class="nav navbar-nav fa-sign-in-link" style="float: right;">
					            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a></li>
					        </ul>
						{% else %}
					        <ul class="nav navbar-nav fa-sign-in-link" style="float: right;">
					            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i></a></li>
						{%endif%}
        
        </div>
    </nav>