
{% extends "base/base.html" %}



{% block title %}
    Services
{% endblock title %}






{% block navbar %}
    {% include  "base/nav_base.html" %}
{% endblock navbar %}



{% block body %}

<div class="container-fluid top-padding" style="padding-left: 0px;padding-right: 0px;">
        <div class="row no-gutters" style="margin-left: 0px;/*padding-left: 0px;*/position: relative;">
            <div class="col-sm-12 col-lg-12 col-xl-12 offset-lg-1 offset-xl-0" style="width: 100%;margin-left: 0px;height: 400px;padding-left: 0px;padding-right: 0px;">
                    <div id='all-serv-map'></div>
                    	

                    <pre id='coordinates' class='coordinates'></pre>



            </div>
            <div class="col-lg-12" style="position: relative;">
                <div class="map-search">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <h6 id="map-search-heading">Recherche Simple</h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <form method="GET" >
                                    <div class="form-row" id="map-search-adv" style="display: none;">
                                        <div class="col-12 col-sm-6 col-lg-4 col-xl-4" style="padding: 15px;padding-bottom: 0px;">
                                        	<input class="form-control" type="text" placeholder="Jours" style="border-radius: 20px;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-4 col-xl-4" style="padding: 15px;padding-bottom: 0px;">
                                        	<select class="form-control" style="border-radius: 20px;">
                                        		<option value="" selected="">Sexe</option
                                        			><option value="13">Homme</option>
                                        			<option value="Femme">Femme</option>
                                        	</select></div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4"
                                            style="padding: 15px;padding-bottom: 0px;">
                                            <input class="form-control" type="text" placeholder="Age" style="border-radius: 20px;">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-12 col-sm-6 col-lg-3" style="padding: 15px;padding-bottom: 0px;">
                                        	<input class="form-control" name="q" type="text" placeholder="Nom de service" style="border-radius: 20px;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3" style="padding: 15px;padding-bottom: 0px;">
                                        	<input class="form-control"  name="q2" placeholder="Wilaya/Comune" style="border-radius: 20px;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3" style="padding: 15px;padding-bottom: 0px;">
                                        	<select class="form-control" name="q1" placeholder="Categorie" style="border-radius: 20px;">
                                        		


                                        		<option value="" selected="">Choisie une categorie..</option>
                                        		
                                        		{% for option in categorie_options %}
                                        			<option value="{{option.libelle}}">{{option.libelle}}</option>
                                        		{% endfor %}
                                        	</select>
                                        </div>
                                        <div
                                            class="col-12 col-sm-6 col-lg-3" style="padding: 15px;padding-bottom: 0px;text-align: center;">
                                            <button class="btn btn-primary" type="submit" style="border-radius: 20px;width: 70%;">Rechercher</button>
                                            <i class="fa fa-chevron-down" id="map-search-adv-icon" style="float: right;margin-top: 10px;transition: .25s;"></i>
                                        </div>
                            		</div>
                            </form>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
<!-- <div id='map' ></div>
<pre id='coordinates' class='coordinates'></pre>
 -->
<hr>
<br>


<br><br>
	
	{% for cat in categories %}


		<p>id: {{cat.id}}</p>
		<p>Service: {{cat.service_name}}</p>
		<p>Discription: {{cat.discription}}</p>
		
		<p>Profile: {{cat.profile.get_full_name}}</p>
		
		<span>Categorie: {% for categorie in cat.categorie.all %}<ul>{{ categorie }}</ul>{% endfor %}</span>
			
		<p>{{ cat.categorie.first.icon.url }}</p>

		<a href="{% url 'service_detail' pk=cat.pk %}"><button class="btn btn-primary">detail</button></a>
		<hr><br>
	{% endfor %}
<br>

	<div class="pagination">
	    <span class="step-links">
	        {% if categories.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ categories.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
	        </span>

	        {% if categories.has_next %}
	            <a href="?page={{ categories.next_page_number }}">next</a>
	            <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>

{% endblock body %}





<script type="text/javascript">
	{% block jsmap %}
	    $(document).ready(function(){


			//create a map
			mapboxgl.accessToken = 'pk.eyJ1IjoibXNhbWlyIiwiYSI6ImNqdGphZWVkZDBzd3M0YWtpM2Y0bzhhNG4ifQ.CIn3tX2_VC_N0hMh1lzAGg';
			const map = new mapboxgl.Map({
			  container: 'all-serv-map',
			  style: 'mapbox://styles/msamir/cjtkion1e2tux1fnrxdhvs5lc',
			  center: [3.424100, 36.780000],
			  zoom: 7
			});



			var geojson_planned = {
				type: 'FeatureCollection',
				features: [
				
						{% for i in categories_list %}
						    {
						    type: 'Feature',
						    geometry: {
						        type: 'Point',
						        coordinates: [parseFloat('{{ i.langtitude }}')  ,parseFloat( '{{ i.latitude }}') ]
						    } ,
						    properties: {
						        title: '{{ i.service_name }}',
						        icon_url: '{{ i.categorie.first.icon.url }}',
						    }
						    },
						{% endfor %}
					]
				};

				console.log(geojson_planned)
				
				geojson_planned.features.forEach(function(marker) {
		        var el = document.createElement('div');
		        el.className = 'marker';
		        el.style.backgroundImage = "url(" + marker.properties.icon_url +")";
		        el.style.width = '40px';
		        el.style.height = '55px';
		     
			    // create the popup
			    var popup = new mapboxgl.Popup({ offset: 25 })
			    .setHTML('<h1> ' +marker.properties.title+ '</h1> <br><button type="submit" class="btn btn-primary">Ajouter</button>');
			    
			     
			    // add marker to map
			    new mapboxgl.Marker(el)
			    .setLngLat(marker.geometry.coordinates).setPopup(popup)
			    .addTo(map);
			   
			   });

		

			//Geo Coder (search)
			var acctok = map.addControl(new MapboxGeocoder({
			accessToken: mapboxgl.accessToken
			}));


			//get user location using button
			var uloc = map.addControl(new mapboxgl.GeolocateControl({
			    positionOptions: {
			        enableHighAccuracy: true
			    },
			    trackUserLocation: true
			}));

			//zoom in and zoom out using button
			var nav = new mapboxgl.NavigationControl();
			var cont = map.addControl(nav, 'top-right');


})
     
	{% endblock jsmap %}







	/*geojson_planned.features.forEach(function(marker) {

				// create a HTML element for each feature
					var el = document.createElement('div');
					el.className = 'marker-light-red';

					// visited
					new mapboxgl.Marker(el)
					.setLngLat(marker.geometry.coordinates)
					.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
					.setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
					.addTo(map);
				});
*/

</script>







